.popup{
  display : none;
  position: fixed;
  z-index: 1;
  top: 515px;
  left: 130px;
  overflow: auto;
}

.missionPopup{
  display : 'block';
  position: fixed;
  z-index: 1;
  top: 515px;
  left: 220px;
  overflow: auto;
  background-color: #ff8000;
  border-radius: 20px;
}

.popup-content{
  background-color: #DEB887;
  color: black;
  width: 520px;
  height: 65px;
  border: 1px solid #888;
  border-color: #DEB887;
  text-align: center;
  border-radius: 15px;
}

.lastpopup{
  display : none;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 130px;
  overflow: auto;
}

.mission-content{
  display: 'block';
  background-color: #894E4E;
  color: white;
  width: 350px;
  height: 60px;
  border: 5px solid #888;
  border-color: #894E4E;
  text-align: center;
  font: "10px Times New Roman";
}


.mission{
  display : none;
  fill: "#000000";
  align: "center";
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 200px;
  overflow: auto;
  width: 800px;
  heighth: 600px;
}

.Panel{
  display: 'block';
  background-color: #f8eef6;
  position: fixed;
  top: 100px;
  left: 10px;
  width: 100px;
  height: 400px;
  z-index: -1;
  border-radius: 20px;
}

.textProgresscontent{
  display: 'block';
  background-color: white;
  color: green;
  width: 75px;
  height: 45px;
  border-radius: 10px;
  border-color: white;
  text-align: center;
}

.amountSalary{
  display : 'block';
  position: fixed;
  z-index: 1;
  top: 420px;
  left: 700px;
  overflow: auto;
}

.SalaryContent{
  display: 'block';
  color: green;
  width: 75px;
  height: 55px;
  border-radius: 10px;
  border-color: white;
  text-align: center;
}

.progressText{
  display : 'block';
  position: fixed;
  z-index: 1;
  top: 4px;
  left: 700px;
  overflow: auto;
}


.progress{
  height: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.firstpopup{
  display: 'block';
  width: 530px;
  height: 200px;
  top:150px;
  left: 120px;
  background-color: white;
  position: fixed;
  text-align: center;
  border-radius: 20px;
}

#myProgress {
    border-radius: 5px;
    top: 80px;
    left:725px;
    position: fixed;
    height: 45%;
    width: 30px;
    background-color: red;
}
#myBar {
    border-top-left-radius: 5px;
    z-index: -1;
    border-top-right-radius: 5px;
    height: 90%;
    width: 30px;
    background-color: black;
}
