.popup{
  display : none;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 190px;
  overflow: auto;
  width: 800px;
  background-color: rgba(0,0,0,0,4);
}

.missionPopup{
  display : 'block';
  position: fixed;
  z-index: 1;
  top: 515px;
  left: 170px;
  overflow: auto;
  background-color: #f8eef6;
}

.popup-content{
  background-color: #FFFFFF;
  width: 300px;
  border: 1px solid #888;
  border-color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
}

.mission-content{
  display: 'block';
  background-color: #f8eef6;
  width: 350px;
  height: 60px;
  border: 5px solid #888;
  border-color: #f8eef6;
  text-align: center;
  border-radius: 20px;
}

#missionText {
  font: "15px Arial";
}

.mission{
  display : none;
  fill: "#000000";
  align: "center";
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 200px;
  overflow: auto;
  width: 800px;
  heighth: 600px;
}

.progress{
  height: 1px;
}

#myProgress {
    top: 80px;
    left:650px;
    position: fixed;
    height: 50%;
    width: 30px;
    background-color: green;
}
#myBar {
    height: 50%;
    width: 30px;
    background-color: black;
}
